{% if page.code contains '<html' or page.code contains '<!DOCTYPE' %}

<head>
    {% render 'partials/head.liquid' %}
    <title>{{ page.metaTitle | default: page.name | default: 'Preview' }}</title>
</head>
{{ page.code }}

{% else %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% render 'partials/head.liquid' %}
    <title>{{ page.metaTitle | default: page.name | default: 'Preview' }}</title>
</head>
<body class="bg-black min-h-screen text-white">
    {{ page.code }}
</body>
</html>
{% endif %}